/* <DIV> Class Selectors */
.main-card-div {
    width: 20%;
    height: 50%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
    padding: 2px;
    margin: 5px;

    
    backdrop-filter: grayscale(50%);
    border: 1px solid #ffffff22;
    background: linear-gradient(0deg, rgba(40, 44, 52, 0.836) 0%, rgba(17, 0, 32, 0.178) 100%);
    border-radius: 0.7rem;
    box-shadow: 
    -2px -2px 6px rgba(#fff, .6),
    0px 20px 10px 5px #00000088;

    cursor: pointer;
    transition: 1s ease-in-out;
}
