/* ViewContract.module.css */
.ContractContent {
    max-height: 300px;
    /* Adjust the maximum height as needed */
    overflow-y: auto;
    width: 800px;
    justify-content: center;
    align-items: center;
    /* Enable vertical scrollbar when content exceeds the height */
    padding: 10px;
    margin: 10px;
    margin-left: 400px;
}

.Contractbutton {
    background-color: #052a51;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    border: none;
    /* Remove border if any */
    outline: none;
    /* Remove outline on focus */
    transition: background-color 0.3s ease;
    /* Add transition effect */
    width: 150px;
    /* Decrease width */
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    /* Center horizontally */
}

.Contractbutton:hover {
    background-color: #03467d;
}

.RejectButton {
    margin-left: 15px;
    /* Adjust the margin as needed */
}

.ContractButtons {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    /* Add margin to separate buttons from contract text */
}