/* <DIV> Class Selector */
.staticdate-main-div {
    width: 20vw;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    padding: 1px;

    position: absolute;

    border-radius: var(--border-radius);
    background: linear-gradient(-67deg, #c8d8e7, rgba(255,255,255));
    box-shadow: -2px -2px 6px rgba(#fff, .6), 2px 2px 12px #e7c8e3;

    backdrop-filter: grayscale(50%);
    box-shadow: -2px 2px 2px #FFE, 0px 3px 10px 5px #03617288;
    
    z-index: 10;
}