
.noDataMessage {
    /* Style as needed, example: */
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #89CFF0;
  }
  
.list-title {
    text-align: center;
    margin-top: 100px;
    margin-right: 470px;
    position: fixed;
    top: 0;
    z-index: 100;
}
.button-blue2 {
  background-color: #92B4D4;
  color: white;
  margin-right: 80px;

}

.button-blue {
  background-color: #92B4D4;
  color: white;
  margin-right: 80px;
}
.button-blue3 {
  background-color: #92B4D4;
  color: white;
  margin-right: 10px;
}
.prescr-container{
    max-width: 900px;
    width:60%;
    margin: 10px auto;
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }

  .smallTable-container{
    max-width:700px;
    width:50%;
    margin:auto;
    padding: 0 px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: #fff; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  .smallTable-container table th:last-child {
    width: 70px; /* Adjust this value as needed */
    /* Other styles if needed */
}

.lightBlueButton {
    background-color: #77c4de;
    /* Light blue background */
    color: white;
    /* White text for better contrast */
    border: 1px solid transparent;
    /* Optional: can add border */
    padding: 8px 16px;
    /* Padding for button */
    border-radius: 4px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor change to indicate it's clickable */
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

.lightBlueButton:hover {
    background-color: #92B4D4;
    /* Slightly darker blue for hover effect */
}

/* .lightBlueText {
    color: #77c4de;
} */

/* If you want to apply the color to specific elements like table headers */
/* .prescriptionTable th {
    color: #ADD8E6;
    /* Light blue font color for table headers 
} */