/* viewDoctorInfoPage.module.css */

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  /* Header styles */
  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Back button styles */
  .back-button {
    margin-right: auto; /* Push the button to the far left */
    width: 50px;
  }
  
  /* Doctor info container styles */
  .doctor-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Change to flex-start */
    margin-left: 300px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Doctor details styles */
  .doctor-details {
    text-align: left;
    margin-left: 20px;
    max-width: 60%;
  }

  /* Doctor info details styles */
.doctor-info-details {
    display: flex;
    flex-direction: row; /* Change to row to make them appear next to each other */
    text-align: left;
  }
  
  .doctor-info-item strong {
    font-weight: bold;
    font-size: 15px; /* Adjust the font size as needed */
  }
  /* Doctor info item styles */
  .doctor-info-item {
    margin-right: 40px; /* Add margin between the items for spacing */
  }

  .doctor-info-item:nth-child(2) {
    margin-left:300px;
}
  
  .doctor-info-item > *:not(:last-child) {
    margin-bottom: 5px; /* Add smaller margin between text elements in the same item */
  }
  /* Doctor info image styles */
  .doctor-info-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }
  
  /* Doctor name styles */
  .doctor-name {
    margin-bottom: 10px; /* Add margin for spacing */
  }
  
  
  /* Appointments styles */
  .appointments-container {
    text-align: center;
  }

/* Table styles */
.appointments-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .appointments-table th,
  .appointments-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd; /* Add this line to set border for all cells */
  }
  
  .appointments-table th {
    background-color: #04213f;
    color: #ffffff;
  }
  
  .appointments-table button {
    background-color: #000958;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .appointments-table button:hover {
    background-color: #002963;
  }
  

.appointments-table td:last-child {
  border-left: none;
}

.appointments-table td:nth-last-child(2) {
  border-right: none;
}
