.lightBlueButton:hover {
    background-color: #92B4D4; /* Slightly darker blue for hover effect */
}

.lightBlueButton:hover {
    background-color: #92B4D4; /* Slightly darker blue for hover effect */
}
/* This styles your table headers and cells */
table th, table td {
  padding: 8px 10px; /* Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  text-align: left;
}

/* If you want to set specific widths for each column */
table th:nth-child(1), table td:nth-child(1) { width: 100px; } /* Adjust width as needed */
table th:nth-child(2), table td:nth-child(2) { width: 150px; } /* Adjust width for each column accordingly */
.your-box-class {
  padding: 5px;
  margin: 0;
  width: auto;
  height: auto;
  box-sizing: border-box;
}
/* Increasing specificity */
.my-table-class tr:hover {
  background-color: transparent;
}

/* Using !important */
table tr:hover {
  background-color: transparent !important;
}
.presc-container{
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* background-color: #fff; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
