.lightBlueButton:hover {
    background-color: #92B4D4; /* Slightly darker blue for hover effect */
}

.lightBlueButton:hover {
    background-color: #92B4D4; /* Slightly darker blue for hover effect */
}
/* .Nayera-container {
   
    align-items: center;
    top: 10px;
    left: 0;
    right: 0;

    width: 20%;
    height: auto;

    margin: 70px auto;
    padding: 0px;
    transform: translateX(17%);
} */

.pharmacistTable {
    width: 80%; /* Adjust this value to make the table smaller or larger */
    margin: 50px auto; /* This will center the table and maintain the margin */
    margin-left: 30px; /* Keeps the left margin */
    margin-right: 20px; /* Reduces the right margin to shift the table to the left */
    border-collapse: collapse; /* Optional: Collapses the border to make it look cleaner */
  }
  
  .pharmacistTable th,
  .pharmacistTable td {
    padding: 8px; /* Adjusts padding inside table cells */
    text-align: center; /* Centers text in each cell */
    border: 1px solid #ddd; /* Adds a light border for each cell */
  }
  