/* doctorSearchBar.module.css */

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 0;
    z-index: 100;
    width: 100%;
}

.search-button {
    background-color: #02096d;
    padding: 8px 16px;
    margin-left: 10px;
    color:white;
}

.search-button:hover {
    background-color: #043a74;
}

.clear-button {
    background-color: #acacac;
    padding: 8px 16px;
    margin-left: 15px;
    font-size: small;
}

.clear-button:hover {
    background-color: #717171;
}

.search-bar {
    width: 900px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 10px; /* Adjust the left margin as needed */
}

.search-bar::placeholder {
    text-align: center;
}
