/* <DIV> Styles */
.sub__div {
  margin: 20px 80px 20px 50px;
}

/* <INPUT> Styles */
.timeSlot__input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
}

/* <FORM> Styles */
.timeSlot__form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

/* <BUTTON> Styles */
.timeSlot__btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #125592;
  color: white;
}

.timeSlot__btn:hover {
  background-color: black;
  color: white;
}