/* <DIV> Class Selectors */
.patient-board-main-div {
    width: 95%;
    height: 100%;

    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 20px;
    padding: 10px;
    box-sizing: border-box;

    background-image: linear-gradient(35deg, #6d7b85 0%, #2e83a1 20%, #FFFFFF 100%);
    border: 1px solid #ffffff22;
    box-shadow: 
    -2px -2px 6px rgba(#fff, .6),
    0px 20px 10px 5px #00000088;
    border-radius: 50px; 

    overflow: hidden;
}

.patient-appointments-div {
    width: 100%;

    margin: 20px 0px 20px 0px;

    box-sizing: border-box;
}