:root {
    --border-radius: 10px;
}

/* <DIV> Class Selector */
.searchbar-main-div {
    width: 95vw;
    height: 100px;
    position: relative;
    margin: 20px;
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(-67deg, #c8d8e7, rgba(255,255,255));
    overflow: hidden;
    box-shadow: -2px -2px 6px rgba(#fff, .6), 2px 2px 12px #e7c8e3;
}

.searchbar-main-div > a {
    height: 20%;
    display: flex;
    color: black;
}

.searchbar-sub-div {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
    overflow: hidden;
    box-shadow: -2px -2px 6px rgba(#fff, .6), 2px 2px 12px #e7c8e3;
}

.searchbar-input-div {
    --top-shadow: inset 1px 1px 3px #ffffff, inset 2px 2px 6px #e2c5e3;
    --bottom-shadow: inset -2px -2px 4px rgba(95, 95, 95, 0.7);
    
    width: 80%;
    height: 60%;

    display: flex;
    align-items: center;

    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    
    &::before,
    &::after {
        left: 0;
        top: 0;
        display: block;
        content: "";
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    
    &::before {
        box-shadow: var(--bottom-shadow);
    }
    
    &::after {
        box-shadow: var(--top-shadow);
    }
}

.searchbar-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px
}

.searchfilter-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 50px;
}

/* <INPUT> Class Selector */
.searchbar-input {
    width: 100%;
    height: 100%;

    padding: 10px;
    border: 0px;

    position: relative;
    
    background-color: #ffffff;

    top: -2px;
}

/* <BUTTON> Class Selector */
.searchbar-button {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchfilter-button {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}