.finalizePrescriptionContainer {
    max-width: 1300px;
    margin: 0 auto;
}

.finalizePrescriptionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    cursor: default;

}

.finalizePrescriptionTable th,
.finalizePrescriptionTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    cursor: default;

}

.finalizePrescriptionTable th {
    background-color: #052c65;
    color: white;
    cursor: default;
}

.finalizePrescriptionTable tbody tr:hover {
    background-color: white;
}


.finalizePrescriptionTable input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.finalizePrescriptionHeader {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.finalizeButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backButton {
    background-color: #88c1d4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
}


.finalizePrescriptionSubmit {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
}


.finalizePrescriptionDelete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

.finalizePrescriptionDeleteCell {
    width: 1%;
}

.prescriptionReviewContainer {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
}

.prescriptionReviewTitle {
    color: #070086;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.prescriptionReviewItem {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 20px;
}

.prescriptionHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.prescriptionHeaderInfo,
.patientInfo {
    padding: 10px;
}

.prescriptionHeaderInfo h2 {
    font-size: 34px;
    margin-bottom: 5px;
}

.prescriptionHeaderInfo p,
.patientInfo p {
    margin: 5px 0;
    font-size: 16px;
}

.patientInfo {
    margin-left: 400px;
    text-align: left;
}

.patientInfo h3 {
    font-size: 24px;
    margin-bottom: 10px;
}