.appointment-patient-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .appointment-patient-container div {
    display: inline-block;
    margin-right: 20px; 
  }
  
  
  .label {
    display: inline-block;
    width: 280px;
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
    font-size: 25px; 
  }

  select {
    display: inline-block;  /* or display: block; */
    /* Add any additional styles you need for the select element */
  }

  .h2-book {
    text-align: left;
    size: 30px;
    padding-bottom: 15px;
}

h4{
    color: rgb(66, 66, 183);
    font-size: 14pt;
    display: inline;
}

.button-2 {
  background-color: rgb(16, 16, 93);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}

.button-2:hover {
  background-color: darkblue;
}

select{
  display: inline;
}

/* Add this style to your CSS file */
.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Adjust the width and height as needed */
.back-button .MuiButton-label {
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 90px;
}

.header-container h1 {
  padding-right: 600px;
}


